# Dependency/Build Directories
node_modules
npm-debug.log
.npm

# Project Files
.git
.gitignore
.dockerignore
Dockerfile
fly.toml # Fly.io configuration file

# Environment / Configuration Files
.env
.DS_Store
*.log

# Development / Testing files and directories
test
tests
docs
coverage
tmp
*~
dist
build
